openapi: 3.1.0

info:
  title: Sekuu Notify
  version: 1.0.0
  description: |
    Point de sortie unique des messages de l'écosystème Sekuu.

    Ce contrat est la **source de vérité** de l'API Notify.

    ## Périmètre implémenté

    Le déclenchement d'un envoi se fait aujourd'hui par **événement de domaine**,
    pas par API : les modules publient, Notify consomme. Les routes d'envoi
    (`POST /notifications`), de gestion des templates et des suppressions sont
    spécifiées dans `docs/03-services/notify/03-api.md` mais pas encore exposées.

    Ce document ne décrit donc que ce qui existe.

    ## Ce que l'API n'expose jamais

    * Le corps rendu des messages — il contient des liens à usage unique.
    * L'adresse complète des destinataires — elle est masquée.
    * Les identifiants de fournisseurs.


    ## Langue

    Toutes les routes acceptent `Accept-Language`. Langues supportees : `en`
    (defaut) et `fr`.

    Ordre de resolution : preference enregistree de l'utilisateur, puis
    `Accept-Language`, puis defaut de la plateforme. Toute reponse porte
    `Content-Language` et `Vary: Accept-Language`.

    Seuls les **messages** sont traduits. Les codes d'erreur, slugs et valeurs
    d'enumeration sont des references stables, identiques dans toutes les
    langues.

  contact:
    name: Sekuu Platform
  license:
    name: Proprietary

servers:
  - url: https://notify.sekuu.com/api/v1
    description: Production
  - url: http://localhost:8000/api/v1
    description: Développement local

tags:
  - name: Service
  - name: Envoi
  - name: Notifications
  - name: Préférences
  - name: Boîte de réception

security:
  - bearerAuth: []

paths:

  /notify/health:
    get:
      tags: [Service]
      summary: État du service et canaux configurés
      security: []
      responses:
        '200':
          description: Service opérationnel
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data:
                        type: object
                        properties:
                          service: { type: string, example: notify }
                          version: { type: string, example: v1 }
                          status: { type: string, example: ok }
                          channels:
                            type: object
                            description: Canaux disposant d'au moins un fournisseur actif.
                            additionalProperties:
                              type: string
                              enum: [configured, unconfigured]

  /webhooks/{provider}:
    post:
      tags: [Service]
      summary: Retours de livraison d'un fournisseur
      description: |
        Publique au sens réseau, **authentifiée par signature** : chaque
        fournisseur signe selon son propre schéma, vérifié sur le corps brut
        avant tout parsing — un corps re-sérialisé ne produit pas la même
        signature.

        Traitement :

        1. Vérification de la signature.
        2. Déduplication sur `(provider, provider_event_id)` — les fournisseurs
           rejouent leurs webhooks.
        3. Rapprochement via `provider_message_id`.
        4. Enregistrement de l'événement, mise à jour du statut.
        5. Alimentation de la liste de suppression sur rebond **dur** et
           plainte. Un rebond temporaire ne supprime pas : il a déjà déclenché
           un réessai.

        La réponse est **toujours `200`**, y compris pour un événement inconnu
        ou déjà traité : répondre en erreur déclencherait des réessais inutiles
        chez le fournisseur, et finirait par faire désactiver le endpoint.

        Sans secret configuré, le endpoint est **fermé**, jamais ouvert.
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema: { type: string, enum: [resend, postmark, local-gateway] }
      requestBody:
        required: true
        description: Format propre au fournisseur.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Retour traité, ignoré ou déjà connu
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data:
                        type: object
                        properties:
                          processed:
                            type: integer
                            description: Événements nouvellement enregistrés.
        '401':
          description: '`WEBHOOK_SIGNATURE_INVALID`'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
        '404':
          description: '`ENDPOINT_NOT_FOUND` — aucun gestionnaire pour ce fournisseur'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }

  /notifications:
    post:
      tags: [Envoi]
      summary: Déclencher un envoi
      description: |
        Exige une **clé d'API** portant le scope `notifications.send`.
        Déclencher un envoi n'est jamais une action d'utilisateur final : sinon
        n'importe quel compte connecté pourrait écrire au nom de la plateforme.

        L'organisation vient de la clé, **jamais du corps** : une clé ne peut
        pas envoyer au nom d'une autre organisation.

        L'appelant ne choisit ni le canal ni le fournisseur — le canal
        appartient au template. Il fournit les coordonnées dont il dispose ; si
        la clé existe sur plusieurs canaux, le message part par chacun de ceux
        qui sont renseignés.

        Réponse `202`, pas `201` : la ressource créée est une **intention**.
        Rien ne garantit encore qu'un message partira — le destinataire peut
        être supprimé ou avoir refusé cette catégorie.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [template_key, recipient]
              properties:
                template_key: { type: string, example: invitation.sent }
                recipient: { $ref: '#/components/schemas/Recipient' }
                variables: { type: object, additionalProperties: true }
                locale: { type: [string, 'null'], example: fr }
                scheduled_for: { type: [string, 'null'], format: date-time }
      responses:
        '202':
          description: Intention acceptée
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data: { $ref: '#/components/schemas/SendOutcome' }
        '401':
          description: '`UNAUTHENTICATED`, `API_KEY_INVALID`'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
        '403':
          description: '`INSUFFICIENT_PERMISSIONS`, `RECIPIENT_OPTED_OUT`, `RECIPIENT_SUPPRESSED` — renvoyés avant la mise en file'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
        '404':
          description: '`TEMPLATE_NOT_FOUND`'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
        '422':
          description: '`TEMPLATE_VARIABLE_MISSING`, `RECIPIENT_INVALID`, `CHANNEL_NOT_AVAILABLE`, `VALIDATION_ERROR`'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
    get:
      tags: [Notifications]
      summary: Historique d'envoi de l'organisation
      description: |
        Pagination **par curseur** : la collection est volumineuse et fortement
        écrite, l'offset y produirait doublons et oublis.

        Un filtre inconnu renvoie `400` / `INVALID_FILTER` plutôt que d'être
        ignoré : un filtre silencieusement ignoré donnerait l'illusion d'une
        recherche exhaustive.
      parameters:
        - name: cursor
          in: query
          description: Curseur opaque. Ne jamais le décoder ni le construire.
          schema: { type: string }
        - name: per_page
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
        - name: filter[status]
          in: query
          schema:
            type: string
            enum: [queued, sending, sent, delivered, failed, suppressed, cancelled]
        - name: filter[channel]
          in: query
          schema: { type: string, enum: [email, sms, whatsapp, push, in_app] }
        - name: filter[category]
          in: query
          schema: { type: string, enum: [transactional, operational, marketing] }
        - name: filter[template_key]
          in: query
          schema: { type: string, example: password.reset }
        - name: filter[user_id]
          in: query
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Notifications
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/NotificationSummary' }
                  meta: { $ref: '#/components/schemas/CursorMeta' }
        '400':
          description: '`INVALID_FILTER`'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/OrganizationRequired' }

  /notifications/usage:
    get:
      tags: [Notifications]
      summary: Consommation du mois en cours
      description: |
        Volume par canal et par statut, et **dépense constatée** sur les canaux
        facturés.

        Le plafond protège contre l'emballement — une boucle dans un produit ou
        une clé d'API fuitée se traduirait sinon par une facture que rien
        n'arrête avant le relevé. Ce n'est pas une facturation : celle-ci
        appartient à Billing.

        La mesure est **rétrospective** : le coût n'est connu qu'une fois le
        message accepté par le fournisseur, si bien qu'un plafond peut être
        dépassé d'un message.

        `limit` et `remaining` valent `null` lorsque aucun plafond n'est
        configuré — c'est une absence de contrôle, pas un budget infini mesuré.

        `purged` restitue le volume des notifications déjà purgées, dont
        l'agrégat survit à la suppression.
      responses:
        '200':
          description: Consommation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data:
                        type: object
                        properties:
                          period:
                            type: object
                            properties:
                              from: { type: string, format: date-time }
                              to: { type: string, format: date-time }
                          channels:
                            type: object
                            additionalProperties: { $ref: '#/components/schemas/ChannelUsage' }
                          purged:
                            type: object
                            additionalProperties: { type: integer }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/OrganizationRequired' }

  /notifications/bulk:
    post:
      tags: [Envoi]
      summary: Déclencher jusqu'à 100 envois
      description: |
        Même template pour tous, variables propres à chacun.

        Un destinataire supprimé n'invalide pas les 99 autres : chaque message
        est rapporté indépendamment dans `results`.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [template_key, messages]
              properties:
                template_key: { type: string }
                locale: { type: [string, 'null'] }
                messages:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required: [recipient]
                    properties:
                      recipient: { $ref: '#/components/schemas/Recipient' }
                      variables: { type: object, additionalProperties: true }
      responses:
        '202':
          description: Lot traité, message par message
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data:
                        type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              properties:
                                index: { type: integer }
                                accepted: { type: boolean }
                                queued: { type: array, items: { type: object } }
                                error: { type: object }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /notifications/{notificationId}/cancel:
    post:
      tags: [Envoi]
      summary: Annuler un envoi programmé
      description: |
        Seul un message encore en file peut être annulé. Un message déjà remis
        au fournisseur ne se rattrape pas : mieux vaut le dire que laisser
        croire à une annulation.
      security:
        - apiKey: []
      parameters:
        - name: notificationId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Envoi annulé }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404':
          description: '`NOTIFICATION_NOT_FOUND`'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
        '409':
          description: '`NOTIFICATION_NOT_CANCELLABLE`'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }

  /notifications/{notificationId}:
    get:
      tags: [Notifications]
      summary: Détail, tentatives et retours fournisseur
      description: |
        Sert au support et à la réconciliation, pas à relire les messages : le
        corps rendu n'est pas exposé.
      parameters:
        - name: notificationId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Notification
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data:
                        allOf:
                          - $ref: '#/components/schemas/NotificationSummary'
                          - type: object
                            properties:
                              deliveries:
                                type: array
                                items: { $ref: '#/components/schemas/Delivery' }
                              events:
                                type: array
                                items: { $ref: '#/components/schemas/DeliveryEvent' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404':
          description: '`NOTIFICATION_NOT_FOUND` — inexistante, **ou** hors de l''organisation active'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }

  /preferences:
    get:
      tags: [Préférences]
      summary: Préférences de l'utilisateur connecté
      description: |
        Renvoie la matrice complète catégorie × canal, valeurs par défaut
        comprises. Le champ `editable` permet à l'interface de griser ce qui
        n'est pas modifiable, plutôt que de laisser l'utilisateur découvrir le
        refus après coup.
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
      responses:
        '200':
          description: Préférences
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/Preference' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
    patch:
      tags: [Préférences]
      summary: Modifier ses préférences
      description: |
        Une catégorie `transactional` ne peut pas être désactivée : couper un
        lien de réinitialisation enfermerait l'utilisateur dehors. L'API refuse
        explicitement plutôt que d'accepter sans appliquer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [preferences]
              properties:
                preferences:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [category, channel, enabled]
                    properties:
                      category: { type: string, enum: [operational, marketing] }
                      channel: { type: string, enum: [email, sms, whatsapp, push, in_app] }
                      enabled: { type: boolean }
      responses:
        '200':
          description: Préférences mises à jour
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/Preference' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '422':
          description: '`TRANSACTIONAL_CANNOT_BE_DISABLED`, `VALIDATION_ERROR`'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }

  /preferences/unsubscribe/{token}:
    parameters:
      - name: token
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Préférences]
      summary: Contexte d'un lien de désabonnement
      description: |
        **Public**. Exiger une connexion pour se désabonner est une pratique
        hostile, et pousse vers le bouton « spam » — bien plus coûteux qu'un
        désabonnement, puisqu'il alimente la liste de suppression.

        Le jeton est signé et sans expiration : un message peut être rouvert
        des mois plus tard, et un lien périmé n'aiderait personne.
      security: []
      responses:
        '200':
          description: Contexte
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data:
                        type: object
                        properties:
                          destination: { type: string, example: n*****@sekuu.com }
                          channel: { type: string }
                          category: { type: string }
                          editable: { type: boolean }
        '400':
          description: '`UNSUBSCRIBE_TOKEN_INVALID`'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
    post:
      tags: [Préférences]
      summary: Se désabonner
      description: |
        Deux effets possibles selon que le destinataire a un compte :

        | `effect` | Situation | Portée |
        | --- | --- | --- |
        | `preference` | Destinataire connu | La catégorie seule, réversible depuis le profil |
        | `suppression` | Destinataire sans compte | **Toute** la destination — seul outil disponible faute de compte auquel rattacher une préférence |

        Une catégorie transactionnelle ne peut jamais être désabonnée.
      security: []
      responses:
        '200':
          description: Désabonnement appliqué
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data:
                        type: object
                        properties:
                          category: { type: string }
                          channel: { type: string }
                          effect: { type: string, enum: [preference, suppression] }
        '400':
          description: '`UNSUBSCRIBE_TOKEN_INVALID`'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
        '422':
          description: '`TRANSACTIONAL_CANNOT_BE_DISABLED`'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }

  /inbox:
    get:
      tags: [Boîte de réception]
      summary: Notifications internes de l'utilisateur
      description: |
        Le canal interne ne dépend d'aucun fournisseur externe : il reste
        disponible quand tous les autres échouent, et sert de repli universel.

        C'est le seul endroit où le corps d'un message est exposé — une
        notification interne n'a pas d'autre support que cette réponse.

        La boîte d'autrui est indiscernable d'une boîte vide.
      parameters:
        - name: unread
          in: query
          schema: { type: boolean }
        - name: cursor
          in: query
          schema: { type: string }
        - name: per_page
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        '200':
          description: Notifications internes
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/InboxEntry' }
                  meta: { $ref: '#/components/schemas/CursorMeta' }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /inbox/unread-count:
    get:
      tags: [Boîte de réception]
      summary: Nombre de notifications non lues
      responses:
        '200':
          description: Compteur
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data:
                        type: object
                        properties:
                          unread: { type: integer }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /inbox/read-all:
    post:
      tags: [Boîte de réception]
      summary: Tout marquer comme lu
      responses:
        '200':
          description: Notifications marquées
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data:
                        type: object
                        properties:
                          marked: { type: integer }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /inbox/{notificationId}/read:
    post:
      tags: [Boîte de réception]
      summary: Marquer une notification comme lue
      description: Idempotent — relire une notification déjà lue ne déplace pas sa date.
      parameters:
        - name: notificationId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Notification marquée
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data: { $ref: '#/components/schemas/InboxEntry' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404':
          description: '`NOTIFICATION_NOT_FOUND`'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Access token émis par Identity, vérifié par signature. Notify ne délivre
        aucun jeton.

    apiKey:
      type: http
      scheme: bearer
      description: |
        Clé d'API d'organisation, émise par Identity (`POST /api-keys`) et
        portant le scope `notifications.send`.

        Préfixée `sk_live_` ou `sk_test_`, ce qui la distingue sans ambiguïté
        d'un access token JWT sur le même schéma `Bearer`.

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: |
        **Obligatoire** sur tout envoi : un message est un effet de bord non
        réversible, et sans clé un rejeu réseau produirait un doublon.

        La même clé réutilisée renvoie la notification d'origine plutôt que
        d'en créer une seconde.
      schema: { type: string, format: uuid }

    AcceptLanguage:
      name: Accept-Language
      in: header
      required: false
      description: |
        Langue souhaitée pour les messages. Langues supportées : `en` (défaut)
        et `fr`.

        La région est ignorée — `fr-CA` vaut `fr` — les qualités (`q=`) sont
        respectées, et une langue non supportée retombe sur le défaut.

        La préférence enregistrée de l'utilisateur **prime** sur cet en-tête.

        Ne concerne que les messages de l'API. La langue d'un **message envoyé**
        est celle du destinataire, résolue à part : langue demandée, puis locale
        de l'organisation, puis défaut.

        S'applique à toutes les routes, même lorsqu'il n'est pas répété.
      schema: { type: string, example: fr }

  responses:
    Unauthenticated:
      description: '`UNAUTHENTICATED`, `INVALID_TOKEN`, `TOKEN_EXPIRED`, `TOKEN_REVOKED`'
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
    OrganizationRequired:
      description: '`ORGANIZATION_REQUIRED` — le token ne porte aucune organisation active'
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
    ValidationError:
      description: '`VALIDATION_ERROR`'
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }

  schemas:

    Meta:
      type: object
      required: [request_id]
      properties:
        request_id: { type: string, example: req_8b94d7d0a1b2 }

    CursorMeta:
      allOf:
        - $ref: '#/components/schemas/Meta'
        - type: object
          properties:
            per_page: { type: integer }
            next_cursor: { type: [string, 'null'] }
            has_more: { type: boolean }

    SuccessEnvelope:
      type: object
      required: [success, meta]
      properties:
        success: { type: boolean, const: true }
        data: {}
        meta: { $ref: '#/components/schemas/Meta' }

    ErrorEnvelope:
      type: object
      required: [success, error, meta]
      properties:
        success: { type: boolean, const: false }
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: Référence stable. Catalogue dans docs/02-standards/error-codes.md
            message: { type: string }
            details: { type: object, additionalProperties: true }
        meta: { $ref: '#/components/schemas/Meta' }

    NotificationSummary:
      type: object
      properties:
        id: { type: string, format: uuid }
        status:
          type: string
          enum: [queued, sending, sent, delivered, failed, suppressed, cancelled]
          description: |
            `sent` signifie « accepté par le fournisseur ». `delivered` signifie
            « remis au destinataire ». Confondre les deux revient à croire son
            taux de délivrabilité meilleur qu'il n'est.
        template_key: { type: string, example: password.reset }
        channel: { type: string, enum: [email, sms, whatsapp, push, in_app] }
        category: { type: string, enum: [transactional, operational, marketing] }
        locale: { type: string, example: fr }
        recipient:
          type: string
          description: Masqué.
          example: n*****@sekuu.com
        payload:
          type: object
          additionalProperties: true
          description: Variables du message, expurgées de tout lien et de tout jeton.
        failed_reason: { type: [string, 'null'], example: RECIPIENT_SUPPRESSED }
        request_id: { type: [string, 'null'] }
        created_at: { type: string, format: date-time }

    Delivery:
      type: object
      properties:
        provider: { type: string, example: laravel-mail }
        attempt: { type: integer }
        status: { type: string, enum: [pending, accepted, rejected, failed] }
        provider_message_id: { type: [string, 'null'] }
        error_code: { type: [string, 'null'] }
        cost_amount: { type: [number, 'null'] }
        cost_currency: { type: [string, 'null'] }
        sent_at: { type: [string, 'null'], format: date-time }

    DeliveryEvent:
      type: object
      properties:
        type:
          type: string
          enum: [delivered, bounced, complained, rejected, opened, clicked, unsubscribed]
        provider: { type: string }
        occurred_at: { type: string, format: date-time }

    Recipient:
      type: object
      description: |
        Coordonnées dont dispose l'appelant. Aucune n'est obligatoire
        individuellement, mais au moins une doit être fournie. Un canal sans
        coordonnée est ignoré, ce n'est pas une erreur.
      properties:
        email: { type: [string, 'null'], format: email }
        phone:
          type: [string, 'null']
          description: Format E.164 — un numéro national est ambigu entre opérateurs.
          example: '+237690000000'
        user_id:
          type: [string, 'null']
          format: uuid
          description: Requis pour le canal interne, qui s'adresse à un compte et non à une coordonnée.

    SendOutcome:
      type: object
      description: Résultat canal par canal — un message peut partir par email et être bloqué en SMS.
      properties:
        queued:
          type: array
          items:
            type: object
            properties:
              id: { type: string, format: uuid }
              channel: { type: string }
              status: { type: string }
              scheduled_for: { type: [string, 'null'], format: date-time }
        blocked:
          type: array
          description: Enregistrés avec leur motif, pour que le journal reste complet.
          items:
            type: object
            properties:
              id: { type: string, format: uuid }
              channel: { type: string }
              reason: { type: string, example: RECIPIENT_SUPPRESSED }
        skipped:
          type: object
          description: Canaux sans coordonnée fournie.
          additionalProperties: { type: string }

    ChannelUsage:
      type: object
      properties:
        sent: { type: integer }
        by_status:
          type: object
          additionalProperties: { type: integer }
        cost:
          type: object
          properties:
            spent: { type: number }
            limit:
              type: [number, 'null']
              description: '`null` = aucun plafond configuré.'
            remaining: { type: [number, 'null'] }
            currency: { type: string, example: XAF }

    InboxEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        template_key: { type: string }
        category: { type: string }
        organization_id: { type: [string, 'null'], format: uuid }
        subject: { type: [string, 'null'] }
        body: { type: string }
        read_at: { type: [string, 'null'], format: date-time }
        created_at: { type: string, format: date-time }

    Preference:
      type: object
      properties:
        category: { type: string, enum: [transactional, operational, marketing] }
        channel: { type: string, enum: [email, sms, whatsapp, push, in_app] }
        enabled: { type: boolean }
        editable:
          type: boolean
          description: Faux pour la catégorie transactionnelle.
