openapi: 3.1.0

info:
  title: Sekuu Payments API
  version: '1.0'
  description: |
    Encaissement Mobile Money, quel que soit le motif.

    **Aucune route de création.** Déclencher un paiement suppose de savoir ce
    qu'on paie, combien cela vaut et qui a le droit de le régler — trois choses
    que ce module ignore délibérément. Il porte un `subject_type` et un
    `subject_id` qu'il n'interprète jamais, et remet la question au module
    propriétaire de l'objet.

    Une route de création exposée ici offrirait un moyen de faire sonner le
    téléphone de quelqu'un sans motif vérifiable.

    Pour régler une facture d'abonnement : `POST /payments` côté
    [Billing](../Billing/openapi.yaml).

    Deux décisions gouvernent le reste :

    - [ADR-0007](../../docs/04-decisions/adr-0007-mobile-money-prepaid-subscriptions.md) —
      un paiement Mobile Money ne peut pas être déclenché sans le client, et le
      sondage est obligatoire parce qu'un callback se perd.
    - [ADR-0008](../../docs/04-decisions/adr-0008-payment-aggregators-failover.md) —
      la bascule entre agrégateurs est **volontairement étroite** : on ne
      réessaie ailleurs que si l'invite n'est jamais partie sur le téléphone.

    Tous les montants sont des **entiers**, dans l'unité la plus petite de leur
    devise. Le franc CFA n'a pas de centime : 45 000 XAF s'écrit `45000`.

servers:
  - url: https://payments.sekuu.com/api/v1
    description: Production
  - url: http://localhost:8000/api/v1
    description: Local

tags:
  - name: Service
  - name: Paiements
  - name: Webhooks
  - name: Externe

security:
  - bearerAuth: []

paths:

  /payments/health:
    get:
      tags: [Service]
      summary: Agrégateurs réellement configurés
      description: |
        Un agrégateur sans identifiants n'est jamais essayé. Le dire franchement
        évite de croire qu'un paiement pourra partir alors que rien n'est
        branché.

        `can_collect` à `false` signifie qu'aucun paiement ne peut aboutir.
      security: []
      responses:
        '200':
          description: État du service
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data:
                        type: object
                        properties:
                          status: { type: string, enum: [ok, degraded] }
                          providers: { type: array, items: { type: string } }
                          can_collect: { type: boolean }
                          currency: { type: string, example: XAF }

  /payments/charges:
    post:
      tags: [Externe]
      summary: Déclarer un prix et demander l'encaissement
      description: |
        Réservée aux produits qui **ne partagent pas la base de code** de la
        plateforme — Sekuu Learn, notamment.

        `POST /payments` n'existe pas ici parce que la couche de paiement ignore
        ce qu'elle encaisse. Cette route n'est pas une exception à cette règle :
        la règle est **seul le propriétaire de l'objet nomme son prix**, prouvé
        par une interface pour un module du monolithe, par une clé scopée pour
        un service externe.

        Le montant traverse donc HTTP, **une fois**, borné par deux choses :

        - la clé porte la liste des `subject_type` qu'elle peut faire payer, et
          `billing.invoice` n'y figure jamais ;
        - le type doit être servi par l'API externe côté plateforme.

        **Cette clé est strictement serveur à serveur.** Exposée dans un
        navigateur ou une application mobile, elle permet de déclarer n'importe
        quel montant sur n'importe quel objet du produit, et toute la protection
        tombe d'un coup.

        ## Ce que cette route ne peut pas offrir

        L'atomicité. Chez un module interne, « l'argent est encaissé » et « le
        service est ouvert » sont vrais au même instant. Un service externe ne
        participe pas à cette transaction : il existe une fenêtre pendant
        laquelle un client a payé et n'a pas son service.

        Elle est **irréductible**. Elle est seulement rendue courte — webhook —
        et rattrapable — sondage et réconciliation. Un produit qui ne met en
        place que le webhook aura tôt ou tard un client payé sans service.
      security:
        - apiKey: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema: { type: string }
          description: |
            Portée **par payeur**. Deux produits peuvent utiliser `order-1` sans
            se voler mutuellement leur intention.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subject_type, subject_id, payer_type, payer_id, amount, currency, description, msisdn]
              properties:
                subject_type:
                  type: string
                  example: learn.enrollment
                  description: '`{module}.{ressource}`. Doit figurer dans l''allowlist de la clé.'
                subject_id: { type: string, format: uuid }
                payer_type:
                  type: string
                  example: learn.learner
                  description: |
                    Jamais `identity.*` : un produit externe ne peut pas se
                    réclamer d'un compte de la plateforme.
                payer_id: { type: string, format: uuid }
                amount:
                  type: integer
                  minimum: 1
                  example: 15000
                  description: '**0 décimale en XAF** : 15 000 XAF s''écrit `15000`.'
                currency: { type: string, example: XAF }
                description:
                  type: string
                  description: Reprise dans le libellé vu par le client sur son téléphone.
                msisdn: { type: string, example: '+237650000000' }
      responses:
        '202':
          description: |
            Intention créée. **Jamais `201`** : le client n'a pas encore validé
            quoi que ce soit sur son téléphone.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data: { $ref: '#/components/schemas/DeclaredCharge' }
        '401':
          description: '`UNAUTHENTICATED`, `API_KEY_INVALID`'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
        '403':
          description: |
            `SUBJECT_TYPE_NOT_ALLOWED` — la clé ne porte pas ce type, ou le type
            n'est pas servi par l'API externe. Le même code pour les deux :
            distinguer permettrait d'énumérer les types de la plateforme.
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
        '409':
          description: |
            `PAYMENT_ALREADY_PENDING` — le garde-fou anti-triple-clic. À lire
            comme une **information**, pas comme une erreur à réessayer.
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
        '422':
          description: '`VALIDATION_ERROR`, `PAYER_TYPE_NOT_ALLOWED`, `INVALID_MSISDN`'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
        '503':
          description: '`PROVIDER_UNAVAILABLE` — aucun agrégateur n''a accepté la demande, donc aucun client n''a été sollicité.'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }

    get:
      tags: [Externe]
      summary: Réconcilier
      description: |
        Le **troisième** mécanisme, et le seul filet quand le webhook et le
        sondage ont tous deux échoué. Sans lui, un client payé sans service
        reste invisible jusqu'à sa réclamation.

        À passer périodiquement, pas seulement en cas d'incident : son intérêt
        est de révéler ce dont on ignore l'existence.
      security:
        - apiKey: []
      parameters:
        - name: since
          in: query
          schema: { type: string, format: date-time }
        - name: status
          in: query
          schema: { type: string, enum: [pending, paid, failed, expired] }
      responses:
        '200':
          description: Charges de ce produit, les 200 plus récentes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/ExternalCharge' }
        '403':
          description: '`INSUFFICIENT_PERMISSIONS` — la clé ne porte pas `payments.read`'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }

  /payments/charges/{chargeId}:
    get:
      tags: [Externe]
      summary: Sonder une charge
      description: |
        Le **second** mécanisme, et il n'est pas optionnel. Un webhook se perd :
        un produit qui ne met en place que lui aura tôt ou tard un client payé
        sans service, et aucun moyen de s'en apercevoir.

        `Retry-After` accompagne la réponse tant que l'issue n'est pas tranchée.

        `expired` signifie **on ne sait pas**, et non « cela a échoué ». Un
        paiement dont l'issue est inconnue peut avoir été encaissé ; le traiter
        comme un échec risquerait de facturer deux fois.
      security:
        - apiKey: []
      parameters:
        - name: chargeId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: État de la charge
          headers:
            Retry-After:
              schema: { type: integer }
              description: Présent tant que l'issue n'est pas tranchée.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data: { $ref: '#/components/schemas/ExternalCharge' }
        '404': { $ref: '#/components/responses/NotFound' }

  /payments:
    get:
      tags: [Paiements]
      summary: Paiements de l'organisation
      description: |
        Les paiements dont l'organisation courante est **payeuse**.

        Le jour où un tiers encaisse via la plateforme, il consultera les siens
        par bénéficiaire : deux questions distinctes, deux requêtes distinctes.
      responses:
        '200':
          description: Paiements
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/PaymentIntent' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/OrganizationRequired' }

  /payments/{paymentId}:
    get:
      tags: [Paiements]
      summary: Statut d'une intention
      description: |
        Fait pour être **sondé**, toutes les 3 à 5 secondes. `Retry-After`
        accompagne la réponse tant que le statut n'est pas définitif.

        `expired` n'est **pas** `failed` : il signifie *on ne sait pas*. Un
        paiement dont on ignore l'issue peut avoir été encaissé ; le traiter
        comme un échec risquerait de facturer deux fois.

        Le détail des tentatives n'est exposé qu'aux rôles `Owner` et `Admin` :
        l'ordre de priorité des agrégateurs est une information d'exploitation.
      parameters:
        - name: paymentId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Statut
          headers:
            Retry-After:
              schema: { type: integer }
              description: Présent tant que le statut n'est pas définitif.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data: { $ref: '#/components/schemas/PaymentIntent' }
        '404': { $ref: '#/components/responses/NotFound' }

  /payments/webhooks/{provider}:
    post:
      tags: [Webhooks]
      summary: Callback d'un agrégateur
      description: |
        Publique au sens réseau, authentifiée selon le schéma propre à chaque
        agrégateur :

        - **Notch Pay** — HMAC-SHA256 sur le corps brut, en-tête
          `x-notch-signature`. Une modification en transit est détectable.
        - **Tranzak** — `authKey` transporté dans le corps. Cela prouve que
          l'émetteur connaît le secret, jamais que le corps est intact.

        **Un callback n'est jamais cru sur parole.** Il déclenche une relecture
        du statut chez l'agrégateur, il ne le dicte pas — un paiement produit
        plusieurs livraisons, dans un ordre variable, et croire le statut
        annoncé ferait régresser un encaissement constaté.

        Une signature invalide renvoie `401`, et le callback est **tout de même
        enregistré** : le jeter en silence priverait de toute trace en cas de
        tentative de fraude.

        Les deux agrégateurs n'utilisent pas la même clé de déduplication, et
        c'est délibéré — celui qui ne signe pas est vulnérable au rejeu avec un
        identifiant de livraison forgé.
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema: { type: string, enum: [notchpay, tranzak] }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: |
            Reçu. Toujours `200`, y compris pour un doublon ou une référence
            inconnue : répondre en erreur déclencherait des réessais inutiles, et
            finirait par faire désactiver le endpoint.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - properties:
                      data:
                        type: object
                        properties:
                          processed: { type: boolean }
                          reason: { type: string, enum: [duplicate, unknown_reference] }
        '401':
          description: '`WEBHOOK_SIGNATURE_INVALID`'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
        '404':
          description: '`ENDPOINT_NOT_FOUND` — agrégateur inconnu'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }

  /billing/webhooks/{provider}:
    post:
      tags: [Webhooks]
      summary: Callback d'un agrégateur (ancienne adresse)
      description: |
        Strictement équivalente à `/payments/webhooks/{provider}`.

        Conservée le temps que les tableaux de bord des agrégateurs soient mis à
        jour : des transactions déjà initialisées portent cette URL **figée dans
        leur payload**, et la retirer trop tôt ferait échouer leurs callbacks —
        donc laisserait des clients débités sans service.

        À supprimer une fois qu'aucune transaction en cours ne la référence.
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema: { type: string, enum: [notchpay, tranzak] }
      responses:
        '200':
          description: Reçu
          content: { application/json: { schema: { $ref: '#/components/schemas/SuccessEnvelope' } } }
        '401':
          description: '`WEBHOOK_SIGNATURE_INVALID`'
          content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

    apiKey:
      type: http
      scheme: bearer
      description: |
        Cle d'API de service, prefixee `sk_live_` ou `sk_test_`. Elle agit au
        nom d'un **produit**, pas d'une personne : il n'existe aucun utilisateur
        Sekuu derriere un apprenant Learn.

        Elle porte le scope `payments.charge` ou `payments.read`, **et** la
        liste des `subject_type` qu'elle peut faire payer. Les deux vont
        ensemble : un scope sans perimetre autoriserait a declarer un prix sans
        dire sur quoi.

        Strictement serveur a serveur.

  responses:
    Unauthenticated:
      description: '`UNAUTHENTICATED`, `INVALID_TOKEN`, `TOKEN_EXPIRED`, `TOKEN_REVOKED`'
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
    OrganizationRequired:
      description: '`ORGANIZATION_REQUIRED` — le token ne porte aucune organisation active'
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
    NotFound:
      description: '`RESOURCE_NOT_FOUND`'
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }

  schemas:

    SuccessEnvelope:
      type: object
      properties:
        success: { type: boolean, example: true }
        data: {}
        meta: { $ref: '#/components/schemas/Meta' }

    ErrorEnvelope:
      type: object
      properties:
        success: { type: boolean, example: false }
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
            details: { type: array, items: { type: object, additionalProperties: true } }
        meta: { $ref: '#/components/schemas/Meta' }

    Meta:
      type: object
      properties:
        request_id: { type: string }

    DeclaredCharge:
      type: object
      properties:
        charge_id: { type: string, format: uuid }
        payment_id: { type: string, format: uuid }
        status:
          type: string
          enum: [pending, processing, succeeded, failed, expired, cancelled]
        operator: { type: [string, 'null'], enum: [mtn, orange, null] }
        amount: { type: integer }
        currency: { type: string }
        currency_exponent: { type: integer }
        formatted: { type: string, example: '15 000 XAF' }
        expires_at: { type: string, format: date-time }
        instructions: { type: string }

    ExternalCharge:
      type: object
      properties:
        charge_id: { type: string, format: uuid }
        payment_id:
          type: [string, 'null']
          format: uuid
          description: Renseigne au reglement, pas a la creation.
        subject_type: { type: string, example: learn.enrollment }
        subject_id: { type: string, format: uuid }
        payer_type: { type: string, example: learn.learner }
        payer_id: { type: string, format: uuid }
        status:
          type: string
          enum: [pending, paid, failed, expired]
          description: |
            `expired` signifie **on ne sait pas**, ce qui n'est pas « cela a
            echoue ». Ces charges partent au rapprochement manuel.
        amount: { type: integer }
        currency: { type: string }
        currency_exponent: { type: integer }
        formatted: { type: string }
        description: { type: string }
        created_at: { type: string, format: date-time }
        settled_at: { type: [string, 'null'], format: date-time }

    PaymentIntent:
      type: object
      properties:
        id: { type: string, format: uuid }
        status:
          type: string
          enum: [pending, processing, succeeded, failed, expired, cancelled]
          description: |
            `expired` signifie **on ne sait pas**, ce qui n'est pas « cela a
            échoué ». Ces intentions partent au rapprochement manuel, jamais à
            une nouvelle tentative automatique.
        operator: { type: [string, 'null'], enum: [mtn, orange, null] }
        subject_type:
          type: string
          example: billing.invoice
          description: |
            Ce que le paiement règle, au format `{module}.{ressource}`. Porté et
            indexé, jamais interprété par ce module.
        subject_id: { type: string, format: uuid }
        amount: { type: integer }
        currency: { type: string }
        currency_exponent:
          type: integer
          description: '**0** pour le XAF : 45 000 XAF s''écrit `45000`.'
        formatted: { type: string, example: '45 000 XAF' }
        expires_at: { type: string, format: date-time }
        failure_code: { type: [string, 'null'] }
        instructions: { type: string }
        attempts:
          type: array
          description: Réservé aux rôles `Owner` et `Admin`.
          items: { $ref: '#/components/schemas/PaymentAttempt' }

    PaymentAttempt:
      type: object
      properties:
        provider: { type: string, enum: [notchpay, tranzak] }
        status:
          type: string
          enum: [created, rejected, prompted, processing, succeeded, failed, expired]
          description: |
            `rejected` est le **seul** état qui autorise à essayer l'agrégateur
            suivant : l'agrégateur a refusé la demande, donc le client n'a
            jamais rien reçu.
        customer_prompted:
          type: boolean
          description: |
            L'invite est-elle partie sur le téléphone ? Aucun agrégateur ne
            l'expose ; elle est déduite de l'issue de l'appel de débit.

            Une fois à `true`, plus aucune bascule — le client peut valider avec
            dix minutes de retard, et réessayer ailleurs le débiterait deux fois.
        failure_code: { type: [string, 'null'] }
        started_at: { type: string, format: date-time }
